body {
    background-color: #a4f3ff;
    font-family: roboto;
    font-weight: 100;
}

.clock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 30vh;
    align-content: center;

    font-size: 80px;
}

.box1,
.box2,
.box3 {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 50px 10px rgba(69, 93, 99, .3);
    display: inline-block;
}


.box3-alt {
    animation: bounce 1s infinite;
}

.bounce {
    height: 105px;
    width: 90px;

    display: inline-block;
    /* Handling the animation  */
    -webkit-animation-name: bounce;
    -webkit-animation-duration: .2s;
    animation-name: bounce;
    animation-duration: .2s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}